[submodule ".registry"]
	path = .registry
	url = https://github.com/hakaiinstitute/hakaiinstitute.r-universe.dev
	branch = HEAD
[submodule "gaplightr"]
	path = gaplightr
	url = https://github.com/HakaiInstitute/gaplightr
[submodule "hakaiApi"]
	path = hakaiApi
	url = https://github.com/HakaiInstitute/hakai-api-client-r
	subdir = hakaiApi
[submodule "hydrocan"]
	path = hydrocan
	url = https://github.com/HakaiInstitute/hydrocan
