[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hakaiApi"]
	path = hakaiApi
	url = https://github.com/hakaiinstitute/hakai-api-client-r
	subdir = hakaiApi
